
<header>
    <div class="header">
        <a href="#default" class="logo">Codeial</a>
        <div class="header-right">
          <% if(locals.user) { %>
           
                <a href="/users/profile"><%= user.name %></a>
            
                <a href="/users/sign-out">signout</a>
            

            <% } else { %>
                
                    <a href="/users/sign-in"> Sign In</a>
               
                    <a href="/users/sign-up"> Sign Up</a>
               
            
            <% } %>
        </div>
      </div>
      

</header>

        