<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
          
        <!-- including header -->

        <!-- <%- include('_header');%> --> -->
        <h1>coedial / <%= title %> </h1>

        <!-- linking footer -->

        <!-- <%- include('_footer');%>
    </body>
</html> -->