
    <h1>coedial / <%= title %> </h1>

    <section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user) { %>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="type here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="post-list-container">
        <ul>
            <% for (post of posts) { %>
                <li>
                    <p>
                        <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                    </p>
                    
                </li>
           <% } %>
        </ul>
    </div>

    </section>
