<link rel="stylesheet" href="/css/user_profile.css">

        <h1>
                coedial / profile page
          </h1>

          <p>name :<%= user.name%></p>
          <p>email: <%= user.email%></p>

        